# Lines that start with '#' are comments.
# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out
 
# Eclipse Project files
.classpath
.project
.settings/

target/
work/
*/lib/*
*/classes/*

 
bin/
gen/
local.properties
 
.DS_Store
Thumbs.db
 
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*